__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/

# Dados/artefatos grandes ou gerados (ajuste conforme necessário)
*.xlsx

